
/* COLORS */

$clr-100: rgba(255, 255, 255, 1);
$clr-200: rgba(242, 234, 226, 1);
$clr-300: rgba(108, 114, 137, 1);
$clr-400: rgba(28, 35, 43, 1);
$clr-accent: rgba(61, 129, 104, 1);
$clr-accent-dark: rgba(26, 64, 50, 1);

/* TYPE */
$ff-regular: 'Montserrat', sans-serif;
$ff-accent: 'Fraunces', serif;

$fs-regular: 0.875rem;
$fs-accent: 0.75rem;

$fs-header: 2rem;
$lh-header: 1;

$fw-regular: 500;
$fw-bold: 700;

